body {
  font-family: "Arial";
  font-size: 12px;
  text-align: center;
}
.nav {
  position: fixed;
  width: 580px;
  top: 0px;
  background-color: #f8f8f8;
  z-index: 998;
}
.unreadCount {
  position: absolute;
  padding: 0 2px 0 2px;
  border-radius: 5px;
  top: -1px;
  right: 0px;
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: smaller;
  z-index: 999;
}
.toolbar {
  position: fixed;
  margin: 10px;
  top: 0px;
  right: 0px;
  background-color: #f8f8f8;
  z-index: 999;
}
.glyphicon {
  font-size: large;
  margin: 0 3px 0 3px;
}
.wb-container .glyphicon {
  font-size: small;
}
#container {
  margin: 0 auto;
  width: 560px;
  text-align: left;
}
.name-url {
  color: rgb(0, 146, 129);
  font-weight: bold;
}
.from-url, .text-url {
  color: rgb(0, 146, 129);
  font-weight: 300;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none; color: #428bca;}
a:active {text-decoration: none; color: #428bca;}
#friends_timeline, #user_timeline, #mentions, #comments {
  float: left;
  margin-top: 40px;
  text-align: left;
}
#update-container {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}
.wb-container {
  float: left;
  width: 560px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}
.wb-face {
  float: left;
  padding-right: 10px;
}
.username {
  margin-bottom: 5px;
  font-weight: bold;
}
.wb-detail {
  float: left;
  width: 85%;
}
.wb-func {
  margin-top: 5px;
}
.wb-from {
  float: left;
}
.wb-handle {
  float: right;
}
.wb-media-expand {
  float: left;
  min-width: 466px;
  margin-top: 10px;
  padding: 5px;
  background-color: #f8f8f8;
}
.wb-media-expand .wb-detail {
  width: 100%;
}
.picture {
  margin-top: 5px;
}
.tip {
  text-align: left;
}
.tip-face {
  float: left;
}
.tip-right {
  float: left;
  margin-left: 10px;
}
.clear {
  clear: both;
}
input, label {
  display: inline;
}
textarea {
  height: 80px;
  width: 400px;
}
.hint {
  text-align: left;
}
select {
  float: right;
  width: 80px;
}
.comments, .repost {
  text-align: left;
}
.picture img {
  cursor: url(big.cur), pointer;
  border-radius: 3px;
}
.btn-publish {
  float: right;
}
.wb-face img {
  border-radius: 25px;
}